/*Grundlegende Einstellungen gesamte Seite*/
body {
    font-family: Arial, sans-serif; /*Schriftart*/
    margin: 0;
    padding: 0;
}

/*Header*/
header.mainText {
    text-align: center; /*zentriert Inhalt*/
    background: green;
    color: white;
    padding: 1rem;
}

header img {
    max-width: 150px;
    margin-top: 10px;
}

/*Navigation*/
nav.navigation {
    background: green;
    padding: 1rem;
    text-align: center;
}

/*Design,Position Navigationsinhalte*/
nav.navigation ul {
    list-style: none;
    /* Entfernt Punkte */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Zentriert horizontal */
    gap: 15px;
    /* Abstand zwischen Links */
}

/*Design Navigationstext*/
nav.navigation a.nav {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*Maushover Navigationsinhalte*/
nav.navigation a.nav:hover {
    text-decoration: underline;
    color: #f0f0f0;
}

/*Filter*/
.filter {
    margin: 20px auto;
    text-align: center;
}

/*Groeße Filterleiste*/
.formLabel,
.formSelect {
    margin: 10px;
    padding: 5px;
}

/*Tabelle*/
main.table {
    margin: 20px auto;
    max-width: 800px;
}

.emissionTable {
    width: 100%;
    border-collapse: collapse;
}

.emissionTable th,
.emissionTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.emissionTable th {
    background: #4caf50;
    color: white;
}

/*Design,Position Buttons in Tabelle*/
.emissionTable th button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 4px 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/*Mousehover Tabellenbuttons*/
.emissionTable th button:hover {
    background-color: #388e3c;
}

/*Footer*/
footer.legalNotice {
    background: green;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/*Design,Position Footerinhalte*/
footer.legalNotice ul {
    list-style: none;
    /* Entfernt Punkte */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    /* Abstand zwischen Links */
}

/*Design Footertext*/
footer a.notice {
    color: white;
    text-decoration: none;
}

/*Mousehover Footerinhalte*/
footer a.notice:hover {
    text-decoration: underline;
}